
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/*styles for hamburger*/
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger{
	margin-left: 20px;
}

/*vertical spaces*/
.space-5{
  height: 10px;
}
.space-20{
  height: 40px;
}

.color-orange{
  background-color: orange;
}
.text-white{
  text-decoration-color: white;
}
.web_title{
  font-size: 50px;
}

form.user_search_box input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.user_search_box button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: grey;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.user_search_box button:hover {
  background: #0b7dda;
}

form.user_search_box::after {
  content: "";
  clear: both;
  display: table;
}

.title:hover{
  color: transparent !important;
}
nav ul { 
    list-style: none; padding: 5px 20px; width: auto; position: relative; 
    left: -9px;
}
nav ul li { display: inline; }
nav ul li a {
  display: block;
  float: left;
  border-top: 1px solid #96d1f8;
  background: #3e779d;
  background: white;
  height: 46px;
  width: 150px;
  padding: 0 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  -webkit-text-stroke: 1px transparent;
  font: bold 20px/26px "Lucida Grande", "Verdana", sans-serif;
  color: black;
  text-decoration: none; 
  margin: 0 15px 0 0;
  text-align: center;
}
nav ul li a:hover {
  border-top: 1px solid #4789b4;
  background: #28597a;
  background: -moz-linear-gradient(top,  #3d789f,  #28597a);
  color: rgba(255,255,255,.85); 
} 
nav ul li a:active, nav ul li a.current {
  border-top-color: #245779;
  background: #1b435e;
  position: relative;
  top: 1px; 
}
table.greyGridTable {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  border: 3px solid #FFFFFF;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 13px;
}
table.greyGridTable td:nth-child(even) {
  background: #EBEBEB;
}
table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 4px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot td {
  font-size: 14px;
}

table.scoreTable {
  border: 2px solid black;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.scoreTable td, table.scoreTable th {
  border: 3px solid black;
  padding: 3px 4px;
}
table.scoreTable tbody td {
  font-size: 13px;
}
table.scoreTable td:nth-child(even) {
  /*background: #EBEBEB;*/
}
table.scoreTable thead {
  background: none;
  border-bottom: 4px solid ;
}
table.scoreTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-align: center;
  border-left: 4px solid black;
}
table.scoreTable thead th:first-child {
  border-left: none;
}

table.scoreTable tfoot td {
  font-size: 14px;
}

fieldset {
  display: block;
  
}
input {
    margin: .4rem !important;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: orange;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 0px 35px;
  font-size: 11px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "O";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "X";
}